@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<NavMenu></NavMenu>

<div class="m-4">
    @Body
</div>

@*<MudLayout>
    <MudAppBar Elevation="1" Dense="@dense" Style="background: rgba(39,39,47,0.5); backdrop-filter: blur(20px)">
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@ToggleDrawer" />
        <MudSpacer />
        <MudTextField 
            @bind-Value="SearchString" 
            Variant="Variant.Text" 
            Immediate="true"
            Adornment="Adornment.End" 
            AdornmentIcon="@Icons.Filled.Search" 
            Clearable="true" 
            FullWidth="false"
            Placeholder="Search..."
            OnKeyDown="Search"
            Style="Width:50%; align-self: end; margin: 0 0 0 0;"
            />
    </MudAppBar>
    <MudDrawer @bind-Open="@open" ClipMode="clipMode" Breakpoint="@breakpoint" PreserveOpenState="@preserveOpenState" Elevation="1" Variant="@DrawerVariant.Mini" Style="background: rgba(39,39,47,0.5); backdrop-filter: blur(20px);">
        <MudNavMenu>
            <div class="d-flex flex-column justify-space-between" style="height: 100vh;">
                <div>
                    <MudNavLink Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Home" Href="">Home</MudNavLink>
                    <MudNavLink Match="NavLinkMatch.All" Icon="@Icons.Filled.Movie" Href="movies">Movies</MudNavLink>
                    <MudNavLink Match="NavLinkMatch.All" Icon="@Icons.Filled.Tv" Href="series">Series</MudNavLink>
                </div>
                <div>
                    <MudDivider DividerType="DividerType.FullWidth" Light="true"></MudDivider>
                    <MudNavLink Match="NavLinkMatch.All" Icon="@Icons.Filled.Extension" Href="addons">Addons</MudNavLink>
                </div>
            </div>
        </MudNavMenu>
    </MudDrawer>
    <MudMainContent Class="pt-16 px-1">
        <MudContainer Class="mt-6" MaxWidth="MaxWidth.ExtraExtraLarge">
            @Body
        </MudContainer>
    </MudMainContent>
</MudLayout>*@

@code{
    bool open = false;
    bool dense = false;
    bool preserveOpenState = false;
    Breakpoint breakpoint = Breakpoint.Lg;
    DrawerClipMode clipMode = DrawerClipMode.Never;
    public string? SearchString { get; set; }
    void ToggleDrawer()
    {
        open = !open;
    }

    private void Search(KeyboardEventArgs e)
    {
        if ((e.Code is "Enter" or "NumpadEnter") && !string.IsNullOrWhiteSpace(SearchString))
        {
            NavigationManager.NavigateTo($"search?q={SearchString}");
        }
    }
}