@using Nonton.Features.Catalogs
@using Nonton.Features.Catalogs.Models
@using Nonton.Features.Addons.Dtos

@inject NavigationManager NavigationManager
@inject ICatalogApi CatalogApi
@inject IJSRuntime JsRuntime

<LoadingContainer State="LoadingContainerState">
    <Loading>
        <div class="flex flex-col">
            <MudSkeleton SkeletonType="SkeletonType.Text" Height="50px" Width="150px"></MudSkeleton>
            <section class="no-scrollbar content-cards-container">
                @for (var i = 0; i < 10; i++)
                {
                    <div class="d-flex flex-column">
                        <MudSkeleton SkeletonType="SkeletonType.Rectangle" Height="240px" Width="150px" Class="w-[150px] flex-none rounded snap-center snap-always"></MudSkeleton>
                        <MudSkeleton SkeletonType="SkeletonType.Text" Height="50px" Width="150px"></MudSkeleton>
                    </div>
                }
            </section>
        </div>
    </Loading>
    <Loaded>
        @if (Metas is not null && Metas.Any())
        {
            <div class="flex flex-col gap-2">
                <div>
                    @if (SearchMode)
                    {
                        <span class="text-lg">@Catalog.AddonName - @Catalog.CatalogType.ToTitleCase()</span>
                    }
                    else
                    {
                        <span class="text-lg">@Catalog.CatalogType.ToTitleCase() - @Catalog.CatalogName</span>
                    }
                </div>
                <section class="flex no-scrollbar snap-x snap-mandatory flex-nowrap overflow-x-scroll gap-x-5" id="content-container-@Catalog.CatalogType-@Catalog.CatalogId">
                    @foreach (var meta in Metas)
                    {
                        <div class="w-40 flex-none rounded snap-center snap-always" @onclick="() => ViewDetail(meta.ImdbId!)">
                            <div class="flex flex-col place-items-center gap-3">
                                <img src="@meta.Poster" class="w-36 h-64 object-cover rounded-lg"/>
                                <span class="text-center">@meta.Name</span>
                            </div>
                        </div>
                    }
                </section>
            </div>
        }
    </Loaded>
    <Error>

    </Error>
</LoadingContainer>

@code {

    [Parameter]
    public Catalog Catalog { get; set; } = null!;

    [Parameter]
    public bool SearchMode { get; set; }

    [Parameter]
    public string? SearchQuery { get; set; }

    public IEnumerable<Meta>? Metas { get; set; }

    public LoadingContainerState LoadingContainerState { get; set; } = LoadingContainerState.Empty;

    protected override async Task OnParametersSetAsync()
    {
        LoadingContainerState = LoadingContainerState.Loading;
        await LoadItems();
        LoadingContainerState = LoadingContainerState.Loaded;
    }

    private async Task LoadItems()
    {
        try
        {
            if (SearchMode && !string.IsNullOrWhiteSpace(SearchQuery))
            {
                var discoverItem = await CatalogApi.Search(Catalog.AddonBaseUri, Catalog.CatalogType, Catalog.CatalogId, SearchQuery);
                Metas = discoverItem.Metas;
            }
            else
            {
                var discoverItem = await CatalogApi.GetDiscoverItem(Catalog.AddonBaseUri, Catalog.CatalogType, Catalog.CatalogId);
                Metas = discoverItem.Metas;
            }
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!string.IsNullOrWhiteSpace(Catalog.CatalogName))
        {
            return;
            await JsRuntime.InvokeVoidAsync("forceHorizontalScroll", $"content-container-{Catalog.CatalogType}-{Catalog.CatalogId}");
        }
    }

    public async Task ViewDetail(string id)
    {
        await Task.Run(() => NavigationManager.NavigateTo($"detail/{Catalog.CatalogType}/{id}"));
    }
}