<LoadingContainer State="LoadingStateStreamSource">
    <Loading>
        <MudSkeleton SkeletonType="SkeletonType.Rectangle" Animation="Animation.Wave" Style="height: 50px;" Class="my-2 mx-4"></MudSkeleton>
        <MudSkeleton SkeletonType="SkeletonType.Rectangle" Animation="Animation.Wave" Style="height: 50px;" Class="my-2 mx-4"></MudSkeleton>
        <MudSkeleton SkeletonType="SkeletonType.Rectangle" Animation="Animation.Wave" Style="height: 50px;" Class="my-2 mx-4"></MudSkeleton>
    </Loading>
    <Loaded>
        @{
            if (StreamResponse?.Streams != null && StreamResponse.Streams.Any())
            {
                var groupedStreamSource = StreamResponse.Streams.GroupBy(x => x.Name).ToList();
                <MudExpansionPanels MultiExpansion="true">
                    @foreach (var streamSource in groupedStreamSource)
                    {
                        var sources = StreamResponse.Streams.Where(s => s.Name == streamSource.Key);
                        <MudExpansionPanel Text="@streamSource.Key">
                            <div class="d-flex flex-column gap-2">
                                @foreach (var stream in sources)
                                {
                                    @if (!string.IsNullOrWhiteSpace(stream.ExternalUrl))
                                    {
                                        <MudButton ButtonType="ButtonType.Button"
                                                   Color="Color.Dark"
                                                   Variant="Variant.Filled"
                                                   Size="Size.Large"
                                                   Style="padding-top: 15px; padding-bottom: 15px;"
                                                   Href="@stream.ExternalUrl"
                                                   Target="blank">
                                            @stream.Name (@stream.Title)
                                        </MudButton>
                                    }
                                    else if (!string.IsNullOrWhiteSpace(stream.Url))
                                    {
                                        <MudButton ButtonType="ButtonType.Button"
                                                   Color="Color.Dark"
                                                   Variant="Variant.Filled"
                                                   Size="Size.Large"
                                                   Style="padding-top: 15px; padding-bottom: 15px;"
                                                   OnClick="() => PlayContent(stream.Url)"
                                                   Target="blank">
                                            @stream.Name (@stream.Title)
                                        </MudButton>
                                    }
                                    else if (!string.IsNullOrWhiteSpace(stream.InfoHash))
                                    {
                                        <MudButton ButtonType="ButtonType.Button"
                                                   Color="Color.Dark"
                                                   Variant="Variant.Filled"
                                                   Size="Size.Large"
                                                   Style="padding-top: 15px; padding-bottom: 15px;"
                                                   Target="blank"
                                                   Disabled="true">
                                            @stream.Name (@stream.Title)
                                        </MudButton>
                                    }
                                }
                            </div>
                        </MudExpansionPanel>
                    }
                </MudExpansionPanels>
                <div class="d-flex flex-column gap-2">
                    @foreach (var stream in StreamResponse!.Streams!.Where(s => !groupedStreamSource.Select(x => x.Key).Contains(s.Name)))
                    {
                        @if (!string.IsNullOrWhiteSpace(stream.ExternalUrl))
                        {
                            <MudButton ButtonType="ButtonType.Button"
                       Color="Color.Dark"
                       Variant="Variant.Filled"
                       Size="Size.Large"
                       Style="padding-top: 15px; padding-bottom: 15px;"
                       Href="@stream.ExternalUrl"
                       Target="blank">
                                @stream.Name (@stream.Title)
                            </MudButton>
                        }
                        else if (!string.IsNullOrWhiteSpace(stream.Url))
                        {
                            <MudButton ButtonType="ButtonType.Button"
                       Color="Color.Dark"
                       Variant="Variant.Filled"
                       Size="Size.Large"
                       Style="padding-top: 15px; padding-bottom: 15px;"
                       OnClick="() => PlayContent(stream.Url)"
                       Target="blank">
                                @stream.Name (@stream.Title)
                            </MudButton>
                        }
                    }
                </div>
            }
        }
    </Loaded>
    <Empty></Empty>
</LoadingContainer>