@page "/addons"

<PageTitle>Addons</PageTitle>

<div class="d-flex justify-space-between mx-4">
    <MudText Typo="Typo.h5">Addons</MudText>
    <div style="display: grid; place-items: center; grid-template-columns: auto auto; gap: 1rem; cursor: pointer" >
        <MudButton StartIcon="@Icons.Filled.Search" ButtonType="ButtonType.Button" Size="Size.Medium" Color="Color.Primary" Variant="Variant.Filled" @onclick="BrowseAddons">Browse Addons</MudButton>
        <MudIcon @onclick="InstallFromUrl" Icon="@Icons.Material.Outlined.Add" Color="Color.Default" Size="Size.Medium"></MudIcon>
    </div>
</div>

@if (AllAddons is not null)
{
    <div style="padding-bottom: 20px">
        @{
            var defaultAddon = AllAddons.Where(x => x.IsDefaultAddon);
            var installedAddon = AllAddons.Where(x => !x.IsDefaultAddon);
            
                <MudText Typo="Typo.body1" Class="ma-4">Default Addons</MudText>
            foreach (var addon in defaultAddon)
            {
                    <AddonCard
                    Addon="addon"
                    Installable="false"
                    Removable="false"
                    ShowDisableToggle="false">
                    </AddonCard>
            }

                <MudText Typo="Typo.body1" Class="ma-4 mt-6">Installed Addons</MudText>
            foreach (var addon in installedAddon)
            {
                    <AddonCard
                    Addon="addon"
                    Installable="false"
                    Removable="true"
                    ShowDisableToggle="false"
                    OnRemoved="() => DeleteAddon(addon.Manifest!.Id!)"
                        >
                    </AddonCard>
            }
        }
    </div>
}

<MudDrawer @bind-Open="@_openAddonBrowser" Anchor="Anchor.Bottom" Elevation="1" Variant="@DrawerVariant.Temporary" Height="80%" Style="display: none; background: rgba(39, 39, 47, 0.5); backdrop-filter: blur(20px);">
    <MudDrawerHeader>
        <MudTextField
            @ref="SearchBox"
            T="string"
            Placeholder="Search"
            @bind-Value="SearchString"
            Immediate="false"
            Clearable="true"
            AutoFocus="true"
            Adornment="Adornment.End"
            AdornmentIcon="@Icons.Filled.Search">
        </MudTextField>
    </MudDrawerHeader>
    @if (FilteredAddonsCollection != null && FilteredAddonsCollection.Any())
    {
        <div>
            @foreach (var addon in FilteredAddonsCollection)
            {
                <AddonCard
                    Addon="addon"
                    Installable="(AllAddons != null && !AllAddons.Any(a => a.Manifest!.Id!.Equals(addon.Manifest!.Id)) || AllAddons is null)"
                    Removable="(AllAddons != null && AllAddons.Any(a => a.Manifest!.Id!.Equals(addon.Manifest!.Id)) || AllAddons is null)"
                    ShowDisableToggle="false"
                    OnInstalled="() => Install(addon)"
                    OnRemoved="() => DeleteAddon(addon.Manifest!.Id!)"
                >
                </AddonCard>
            }
        </div>
    }
</MudDrawer>