<LoadingContainer State="LoadingStateStreamSource">
    <Loading>
        <div class="p-2 dark:bg-slate-500 rounded-lg w-96 animate-pulse h-12"></div>
        <div class="p-2 dark:bg-slate-500 rounded-lg w-96 animate-pulse h-12"></div>
    </Loading>
    <Loaded>
        @if (StreamResponse?.Streams != null && StreamResponse.Streams.Any())
        {
            @foreach (var streamSource in StreamResponse.Streams)
            {
                @if (!string.IsNullOrWhiteSpace(streamSource?.ExternalUrl))
                {
                    <a class="p-2 dark:bg-slate-500 rounded-lg w-96" href="@streamSource.ExternalUrl" rel="noopener noreferrer" target="_blank">
                        @streamSource.Name <br/> 
                        (@streamSource.Title)
                    </a>
                }
                else if (!string.IsNullOrWhiteSpace(streamSource?.Url))
                {
                    <button class="p-2 dark:bg-slate-500 rounded-lg w-96" @onclick="() => SelectSource(streamSource.Url)">
                        @streamSource.Name <br />
                        (@streamSource.Title)
                    </button>
                }
                else if (!string.IsNullOrWhiteSpace(streamSource?.InfoHash))
                {
                    <button class="p-2 dark:bg-slate-400 rounded-lg w-96" disabled>
                        @streamSource.Name <br />
                        (@streamSource.Title)
                    </button>
                }
            }
        }
    </Loaded>
    <Empty>
        <span class="p-2 rounded-lg w-96 h-12">No source available</span>
    </Empty>
</LoadingContainer>


