@page "/watch/{type}/{id}"
@layout EmptyLayout

<PageTitle>@($"{PlayableItem?.Title}")</PageTitle>

@if (PlayableItem is not null)
{
    if (!PlayableItem.IsYoutubeTrailer && !string.IsNullOrWhiteSpace(PlayableItem.Url))
    {
        <div class="absolute left-0 right-0 h-screen">
            <Video Source="@(PlayableItem.Url)"
                   AutoPlay="true"
                   Controls="true"
           ControlsList="new[] { VideoControlsType.Play, VideoControlsType.Progress, VideoControlsType.Captions, VideoControlsType.Mute, VideoControlsType.Volume, VideoControlsType.CurrentTime, VideoControlsType.Settings, VideoControlsType.Fullscreen }"
                   DisableContextMenu="true"
                   SeekTime="10"
                   StreamingLibrary="@StreamingLibrary"
                   AutomaticallyHideControls="true"
                   Attributes="VideoAttributes" 
                   FullScreenEntered="FullScreenEntered"
                   FullScreenExited="FullScreenExited"
                   Poster="@PlayableItem.Poster"
                   >
                
                @if (PlayableItem?.Subtitles?.Count > 0)
                {
                    foreach (var subtitle in PlayableItem.Subtitles)
                    {
                        @if (!string.IsNullOrWhiteSpace(subtitle.Lang))
                        {
                            //limit to these two for now, can not show long list of subtitles yet
                            if (subtitle.Lang.Contains("English") || subtitle.Lang.Contains("Indonesia"))
                            {
                                <track kind="subtitles" label="@subtitle.Lang" src="@subtitle.Url" />
                            }
                        }
                    }
                }
            </Video>
        </div>
    }
    else if (PlayableItem.IsYoutubeTrailer)
    {
        <div class="absolute left-0 right-0 plyr__video-embed" id="player">
            <iframe
                src="@(PlayableItem.Url)?origin=https://plyr.io&amp;iv_load_policy=3&amp;modestbranding=1&amp;playsinline=1&amp;showinfo=0&amp;rel=0&amp;enablejsapi=1"
                allowfullscreen
                allowtransparency
                allow="autoplay"
            ></iframe>
        </div>
    }
}